<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-container>div {
        background-color: rgb(199, 227, 255);
        width: 500px;
        margin: 10px;
        border-radius: 30px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        border: 1px solid;
        box-shadow: 5px 10px #008bbd;
    }
</style>

<body>
    ยืมอุปกรณ์
    <div class="flex-container">
        <form action="" method="post">

            <% data.tools.forEach(tool=> { %>
                <div>
                    <img src="<%- tool.photo_url %>" alt="tool.name" width="300px">
                    <hr>
                    name : <%- tool.name %><br>
                        amount : <%- tool.amount %>
                </div>
                
            <% }) %>
            
        </form>
    </div>

</body>

</html>