<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="/createuser.css">
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Create Tools</title>
</head>
<body>
   <header>
     <h1>Create Tools</h1>
   </header>
   <main>
     <form action="/tools/create" method="post">
       <label for="name">name:</label>
       <input type="text" name="name" id="name" placeholder="Enter your username" required>
       <label for="amount">amount:</label>
       <input type="amount" name="amount" id="amount" placeholder="Enter your password" required>
       <label for="photoUrl">photoUrl:</label>
       <input type="text" name="photoUrl" id="photoUrl" placeholder="Enter your photoUrl" required>
     </form>
   </main>
   <footer>
     <a href="/logout" class="logout-btn">Logout</a>
   </footer>
</body>
</html>