<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>




<body>
    about user<br>
    username is <%- data.user.username %><br>
    your name is <%- data.user.fname %> <%- data.user.lname %><br>
    <hr>
    <a href="/user/borrow">ยืมของเพิ่ม</a>            
                


</body>

</html>